*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
}
body{
    font-family: Montserrat;
}
.center{
    padding-left: calc(600px - 240px);
    padding-right: calc(600px - 240px);
}
.header{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./img/basicJS_background.jpg);;
    height: 1024px;
    &__heading{
        padding-top: 217px;
        font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 789px;
    }
    &__paragraph{
        width: 481px;
        margin-top: 32px;
        font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    &_bold{
        font-style: normal;
        font-weight: 700;
    }
    }
    &__button{
        margin-top: 44px;
        width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
    border-color: transparent;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    }
}

.game{
    height: 556px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./img/bottom_background.jpg);
display: flex;
gap: 32px;
flex-direction: row;
&__item{
    background-color: black;
     width: 379px;
     height: 300px;
     background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
     border-radius: 16px;
     position: relative;
     &__img{
        background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0231.jpg);
        border-radius: 16px;
    }
     &__text{
        font-family: inherit;
        font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
left: 82px;
top: 238.36px;
     }
 }
}
