@keyframes myAnim {
	0% {
		transform: scale3d(1, 1, 1);
	}

	30% {
		transform: scale3d(1.25, 0.75, 1);
	}

	40% {
		transform: scale3d(0.75, 1.25, 1);
	}

	50% {
		transform: scale3d(1.15, 0.85, 1);
	}

	65% {
		transform: scale3d(0.95, 1.05, 1);
	}

	75% {
		transform: scale3d(1.05, 0.95, 1);
	}

	100% {
		transform: scale3d(1, 1, 1);
	}
}
*{
    padding: 0;
    margin: 0;
    outline: none;
    text-decoration: none;
}
body{
    font-family: Montserrat;
}
.center{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}
.header{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(./img/basicJS_background.jpg);;
    height: 1024px;
    &__heading{
        padding-top: 217px;
        font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    width: 789px;
    }
    &__paragraph{
        width: 481px;
        margin-top: 32px;
        font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
    &_bold{
        font-style: normal;
        font-weight: 700;
    }
    }
    &__button{
        margin-top: 44px;
        width: 234.06px;
    height: 48.6px;
    left: 120px;
    top: 482.11px;
    background: #9C0332;
    border-radius: 30px;
    border-color: transparent;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    &:hover{
        animation: myAnim 2s ease 0s 1 normal forwards;
    }
    }
}

.game{
    height: 556px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color:  #000915;
display: flex;
gap: 32px;
flex-direction: row;
&__item{
    background-color: black;
     width: 379px;
     height: 300px;
     background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%);
     border-radius: 16px;
     position: relative;
     &__img{
        background: linear-gradient(180deg, rgba(39, 1, 15, 0) 0%, #001944 100%), url(0231.jpg);
        border-radius: 16px;
    }
     &__link{
        position: absolute;
        font-family: inherit;
        font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
color: #FFFFFF;
left: 82px;
top: 238.36px;
transition: all 0.3s;
&:hover{
    text-decoration: underline;
}
     }
 }
}
.seasons{
    height: 800px;
    background-color: #000915;
    display: flex;
    flex-direction: row;
    &__content{
        display: flex;
        flex-direction: column;
    }
    &__heading{
        font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    color: #FFFFFF;
    margin-bottom: 32px;
    
    }
    &__paragraph{
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        width: 584px;
        margin-right: 135px;
    }
    &__picture{
        margin-top: 276px;
      }
}
.remember__content{
    display: flex;
    flex-direction: column;
    margin-left: 150px;
    margin-top: 276px;
}
.riddles{
    height: 800px;
    background-image: url(./img/riddles_bgr.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__heading{
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 276px;
        }
        &__paragraph{
            font-style: normal;
          font-weight: 300;
          font-size: 18px;
          line-height: 32px;
          text-align: center;
          color: #FFFFFF;
          margin-top: 32px;
        }        
  }
 
  .footer{
    height: 80px;
    background-color: #000915;
    display: flex;
    align-items: center;
    justify-content: center;
    &__text{
        font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
      }  
}
 
@import 'mobile';